.waveText {
  background: linear-gradient(200deg, #121212 20%, #1c1c1c 47%, #0f0f0f 79%);
  min-height: 100vh;
  /* background: url(https://framerusercontent.com/images/1xOqMa4sAAwBCrdkiSJfIXups.png); */
}

.wave_text {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 550px;
  padding: 2rem 1rem;
}

.wave_text_width {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1200px;
  margin: auto;
  gap: 30px;
  padding: 4rem;
}

.sharkTank_img img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.wevetext_para {
  color: #979797;
}

.word {
  font-size: 40px;
  opacity: 0;
  filter: blur(10px);
  color: white;
  font-weight: 600;
}

.yellowText {
  color: rgb(255, 218, 97);
}

.placement_report{
  min-height: 70vh;
  background: linear-gradient(200deg, #0b0b0b 30%, #131313 47%, #080808 79%);
  border: 1px solid #2f2f2f;
}
.placemnet_top_space{
  padding: 3rem;
  
}
.placemnet_report_flex{
  border: 1px solid #2f2f2f;
  max-width: 75vw;
  margin: auto;
  display: flex;
  gap: 20px;
  padding: 2rem;
  border-radius: 20px;
  align-items: center;
}
.placement_img{
  width: 100%;
  border-radius: 20px;
}
.placement_para{
  color: #979797;
  padding-top: 1rem;
}
.child_Report_flex_left , .child_Report_flex_right{
  width: 50%;
}
.placement_view_now{
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 14px 28px;
  margin-top: 2rem;
  border-radius: 8px;
  box-shadow: inset 0 0 6px 3px #ffffff26;
  background-color: #3a3a3a;
  cursor: pointer;
  color: white;
  font-size: 1.1rem;
}

.third_Section_home{
  min-height: 100vh;
  background: linear-gradient(200deg, #0b0b0b 30%, #131313 47%, #080808 79%);
color: white;

}
.third_Section_home_center{
  display: flex;
  /* justify-content: flex-start; */
  max-width: 80vw;
  margin: auto;
  padding: 3.5rem;
  gap: 40px;
}

.third_Section_home_left , .third_Section_home_right{
  width: 50%;
}
.career_success{
  font-size: 2.2rem;
  font-weight:700;
}
.bgGold{
  background-color: #645A1A;
}
.career_success_para span{
  background-color: #645A1A;
}
.placementScore{
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: #111;     */
  padding: 40px 0;
  overflow: hidden;
  background-color: #1c1c1c;
  margin-top:2.5rem ;
  border-radius: 10px;
  max-width: 92%;
}
.scoreItem {
  flex: 0 0 auto;
  text-align: center;
  color: #fff;
}
.bordered{
  border-left: 1px solid gray; 
  border-right: 1px solid gray;  
  padding: 0 20px;

}
.scoreLabel{
  font-size: 17px;
  margin-top: 5px;
  font-weight: 700;
  padding: 5px;
}
.scoreValue{
  font-size: 2rem;
  font-weight: 700;
}

.scrollerWrapper {
  overflow: hidden;
  padding: 20px 0;
}

.scroller {
  display: flex;
  flex-wrap: nowrap; 
  white-space: nowrap; 
  width: fit-content;
  animation: scroll 20s linear infinite;
}

.logoContainer {
  width:80px;
  height:60px;
  /* flex: 0 0 auto; */
  margin: 0 12px;
  position: relative; 
  padding: 5px;   
}

.logoContainer img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.third_Section_home_right_para{
  max-width: 350px;
  float: right;
  color: #979797;
  
}
.third_Section_home_right_para span{
  color: white;
}
.iframe_third_setion{
  /* float: right; */
  margin-top: 4rem;
}
.iframe_third_setion iframe{
  border-radius: 20px;
  float: left;
}
/* Smooth Infinite Scroll Animation */
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}



.tag {
  flex: 0 0 auto; /* इस से हर टैग को एक fixed width मिलेगा */
  margin: 0 10px; 
  padding: 0.5rem 1rem; 
  background: #1a1a1a; 
  color: #fff; 
  border-radius: 8px; 
  font-size: 1rem; /* Font size */
  white-space: nowrap; 
  
}


.scrollerWrappeTag {
  overflow: hidden;
  width: 100%;
  background: #111;
  padding: 1rem 0;
}

.scrollerTag {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  animation: scrollRight 20s linear infinite;
}

@keyframes scrollRight {
  0%   { transform: translateX(-50%); }
  100% { transform: translateX(0);     }
}

/* fourth_section_Home */

.fourth_section_Home {
  min-height: 100vh;
  background: #080808;
border: 1px solid #2f2f2f;
color: white;
padding: 2.5rem;
}
.three_Box{
 display: grid;
 grid-template-columns: repeat(3 ,1fr);
 gap: 20px;
 max-width: 90vw;
 margin: auto;
 position: relative;
}
.box_content_iframe iframe{
  width: 100%;
  border-radius: 20px;
  border: none;
}

.BOx{
  width: 100%;
  border: 1px solid  #2f2f2f;
  background-color: #2e2e2e;
  padding: 15px;
  height: auto;
  border-radius: 15px;
  border: 1px solid #535353;
}
.box_content_details{
  line-height: 2.5;
}
.Entrepreneurship{
  font-size: 1.4rem;
  font-weight: 600;
}
.new_btn{
  padding: 8px 16px;
  background-color: black;
  border: 1px solid #535353;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
.duratio_para {
  display: flex;
  gap: 8px;
}
.duratio_para span{
  color: rgb(0, 123, 255);
}
.box_apply{
  width: 100%;
  background: linear-gradient(
    274deg,
    rgb(30, 68, 226) 0%,
    rgb(0, 16, 117) 100%
  );
  padding: 12px;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
}
.box_apply span{
  font-size: 1.5rem;
}
.BOx_form{
  width: 100%;
  background: linear-gradient(200deg, #191919 30%, #1e1d1d 47%, #080808 79%);
  padding: 15px;
  border-radius: 15px;
  border: 1px solid #535353;
  height: 350px;
}
.box_apply_form_content{
  margin-top: 1rem;
}
.box_apply_form_content p{
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2;
}
.box_apply_form{
  margin-top: 1rem;
  box-sizing: border-box;
}
.box_apply_label{
  color: #686868;
}

.box_apply_input{
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #2e2e2e;
  color: white;
  border: none;
}
.BOx_form_btn{
  border-radius: 4px;
  background-color: #2e2e2e;
  width: 100%;
  padding: 10px;
  border: none;
  color: white;
  font-size: 17px;
  text-align: center;
  margin-top: 1rem;
  cursor: pointer;
}
.offline_box{
  position: absolute;
  top: 2rem;
  padding: 10px;
  font-size: 19px;
  background-color: #645A1A;
  font-weight: 600;
}

/* challenge */

.challenge{
  min-height: 100vh;
  background-color: #080808;
  padding: 2.5rem;
  color: white;
}
.challenge_center{
  max-width: 82vw;
  margin: auto;
}
.challenge_para{
  font-size: 2.8rem;
  color: white;
  font-weight: 600;
}
.challenge_para span{
background-color: #645A1A;
/* padding: 5px; */
}
.challenge_para_second{
  background: linear-gradient(to right, #7d7c7c 0%, #e0e0e0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 17px;
  padding-top:1rem ;

}
.challange_three{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
}
.Persona_para{
  background-image: linear-gradient(92deg, rgb(124, 123, 123) 0%, rgba(148, 147, 147, 0.42) 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.8rem;
  font-weight: 700;
}
.Persona_para_second{
  background-image: linear-gradient(268deg, rgb(255, 255, 255) 0%, rgba(189, 189, 189, 0.26) 111%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.8rem;
  font-weight: 700;
}
.challlange_flex_box{
  display: flex;
  gap: 20px;
  height: auto;
}
.boxes_img{
  width: 100%;
}
.boxes{
  position: relative;
  border-radius: 15px;
  width: 100%;
  padding: 1rem;
  background-color: #0f0f0f;
  box-shadow: 0px 1px 1px rgb(44, 44, 44);
  margin-top: 1rem;
}
.boxes_para_p1_p2{
margin-top: 1rem;
}
.boxes_para_p1_p2_blue{
  color: rgba(134,157,255,1);
  font-size: 19px;
}
.boxes_para_p1_p2_second{
  font-size: 1.2rem;
  font-weight: 600;
}
.boxes_para_p3_p4_p5{
  padding-top:1rem ;
  color: #7d7c7c;
}
.boxes_para_p3_p4_p5_second_span{
  color: #7d7c7c;

}
.boxes_para_p3_p4_p5_second_span_white{
  color: white;
}
.challange_postion_Top{
position: absolute;
top: 0;
z-index: 1;
background-color: #645a1aab;
padding: 8px;
transform: rotate(-8deg);
font-size: 20px;
font-weight: 600;
}
@media (max-width: 768px) {
  
  .challlange_flex_box {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    gap: 1rem;
    padding-inline: 1rem;
  }

  /* .challlange_flex_box::-webkit-scrollbar {
    display: none;
  } */

  .boxes {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    min-width: 100%;
    flex: 0 0 auto;
    margin-bottom: 1rem;
  }
  .challlange_flex_box::-webkit-scrollbar {
    height: 8px; 
    background-color: #1e1e1e; 
  }
  
  .challlange_flex_box::-webkit-scrollbar-thumb {
    background-color: #888;  
    border-radius: 5px;
  }
  
  .challlange_flex_box::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* hover effect on thumb */
  }

  .wave_text_width {
    grid-template-columns: repeat(1, 1fr);
    padding: 1rem;
    display: grid;
}
.wave_text {
  flex-wrap: wrap;
  gap: 8px;
  max-width: inherit;
  padding: 1rem 0rem;
  display: flex
;
}
.word {
  font-size: 33px;
}
.placemnet_top_space {
  padding: 1.2rem;
}
.placemnet_report_flex {
  align-items: initial;
  max-width: inherit;
  margin: inherit;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.child_Report_flex_left , .child_Report_flex_right{
  width: 100%;
}
.words{
  font-size: 28px;
}
.placement_para{
  font-size: 15px;
}
.placement_view_now {
  padding: 10px 16px;
  font-size: 1.1rem;
  font-size: 16px;
}
.third_Section_home_center {
  gap: 30px;
  max-width: 100%;
  margin: inherit;
  padding: 1rem;
  flex-direction: column-reverse;
}
.iframe_third_setion iframe{
  border-radius: 20px;
  width: 100%;
  float: inherit;
}
.third_Section_home_right , .third_Section_home_left{
  width: 100%;
}
.career_success {
  font-size: 28px;
  font-weight: 700;
}
.placementScore {
  max-width: 100%;
  margin-top: 2.2rem;
  padding: 20px 0;
}
.scoreValue {
  font-size: 20px;
  font-weight: 700;
}
.scoreLabel {
  margin-top: initial;
  font-size: 17px;
  max-width: 87px;
  font-weight: 600;
  padding: initial;
}
.logoContainer {
  width: 74px;
  height: 55px;
  margin: 0 10px;
  padding: initial;
}
.shcrollerWrapper {
  padding: 20px 0px;
}
.tags_center{
  padding-bottom: 1.5rem;
}
.fourth_section_Home {
  padding: 20px;
}
.three_Box {
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  gap: 15px;
  margin: initial;
}
.box_content_details {
  line-height: 1.6;

}
.BOx {
  padding: 12px;
}
.box_apply {
    padding: 8px;
    font-size: 16px;
    margin-top: 0.5rem;
}

.challenge {
  padding: 1.5rem;
}

.challenge_para {
  font-size: 1.6rem;
}
.challange_three {
  flex-direction: column;
  align-items: initial;
}

.Persona_para {
  font-size: 22px;
  font-weight: 700;
}
.Persona_para_second {
  font-size: 20px;
  margin-top: 0.5rem;
}
}